/*  src/header.css  */
.Header {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 0.5em;
  margin-bottom: 0em;
  background-color: rgb(192, 194, 196);
  color: rgb(6, 6, 6);
  height: 15vh;
}

.Header h1 {
  color: rgb(6, 6, 6); /* Set your desired text color */
}

.header-container {
  width: 100vw;
}
