/*  src/header.css  */
.Header {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 0.5em;
  margin-bottom: 0em;
  background-image: linear-gradient(to bottom right, rgb(75, 154, 251) , rgb(218, 239, 255));
  color: rgb(6, 6, 6);
  height: 15vh;
}

.Header h1 {
  color: rgb(6, 6, 6); /* Set your desired text color */
}

.header-container {
  width: 100vw;
}

.Icon {
  color: black;
  margin-left: 8px;
}
