
.calendar-container {
  width: 90%;
  height: 100%;
  margin: 5px auto; 
  padding: 2%;
  box-sizing: border-box;
}

.rbc-toolbar-label {
  font-size: 180%; /* Adjust the font size as desired */
  font-weight: bold;
  display: flex;
}
.rbc-calendar{
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}
