/* Sidebar.css */
.Sidebar {
  list-style: none;
  min-width: 150px;
  width: 200px;
  min-height: 100vh;
  background-color: rgb(245, 241, 241);
  color: rgb(8, 8, 8);
  padding: 5px;
  margin-left: 3px;
}

.SidebarLink {
  text-decoration: none;
  color: inherit;
  display: block;
  margin: 0;
  padding: 0;
}

.SidebarList {
  color: rgb(77, 77, 77);
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 28px;
}

.SidebarList li {
  padding: 3px 0; /* Adjust top and bottom padding for list items */
  
}

.SidebarList li:hover {
  background-color: #ddd;
  cursor: pointer;
}


.SidebarList li.active {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}

.SidebarToDoListLink, .SidebarCalendarLink {
  text-decoration-line: none;
  color: rgb(77, 77, 77);
  margin-right: 5px;
  margin-bottom: 0;
  display: inline-block; /* Change the display property */
  line-height: 1;
}

.SidebarToDoListLink.active,
.SidebarCalendarLink.active {
  text-decoration: none;
  background-color: #f0f0f0;
  font-weight: bold;
  color: black;
  margin: 0; /* Set margin to zero */
  padding: 0;
}


.content-container {
  display: flex;
}

.IconWrapper {
  display: flex;
  align-items: center;
}

.Icon {
  margin-right: 8px; /* Adjust margin as needed */
}

ul {
  list-style: none;
}
