.None, .Low, .Medium, .High {
  width: 30px;
  font-size: 20px;
  color: #1d1d1e;
  padding: 0 12px;
  border-radius: 15px;
  margin: 0 0px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.None {
  background: #bffbb4;
}

.Low {
  background: #fbf4cc;
}

.Medium {
  background: #fbc49c;
}

.High {
  background: #f37b7b;
}

td {
  vertical-align: top;
}

.custom-card {
  vertical-align: top;
  position: sticky;
}

.label-dates {
  display: flex;
  width: 300px; 
  color: #6e7c87;
}



